use crate::domain::{{ snake_name }}::{ {{ struct_name }}, {{ struct_name }}DomainError };

pub trait {{ service_trait_name }}: Send + Sync {
    async fn get(&self, id: &str) -> Result<{{ struct_name }}, {{ struct_name }}DomainError>;
    async fn create(&self, name: String) -> Result<{{ struct_name }}, {{ struct_name }}DomainError>;
    async fn update(&self, id: &str, name: String) -> Result<{{ struct_name }}, {{ struct_name }}DomainError>;
    async fn delete(&self, id: &str) -> Result<(), {{ struct_name }}DomainError>;
    async fn list(&self) -> Result<Vec<{{ struct_name }}>, {{ struct_name }}DomainError>;
}
